tests/Fixture/files/hero.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="hero">
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false" />
                <xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="level" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                <xs:element name="realName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>